.navbar-nav > li{
  margin-right: 5vw;
}

.bg-header{
  background: linear-gradient(#404f4e, #697e7e);
}

.navbar-light .navbar-nav .nav-link{
  color:white;
}

#photo_timothy{
  background: url("/public/assets/timothy.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
