.navbar-nav > li{
  margin-right: 5vw;
}

.bg-header{
  background: linear-gradient(#404f4e, #697e7e);
}

.navbar-light .navbar-nav .nav-link{
  color:white;
}


@media (max-width: 767px)
{
    header{
      display:none;
    }
}

body {
  position: relative;
}
