figure{
  width:auto;
  overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
}
figure img{
   width:100%; /*make image streatch*/
   margin:-6.875% 0;
}
html{
  overflow-x: hidden;
}

@media (max-width: 767px) {
  figure{
    width:auto;
    overflow:hidden; /*hide bounds of image */
     margin:0;   /*reset margin of figure tag*/
     padding-top: 47px;
  }
  figure img{
     width:100%; /*make image streatch*/
     margin: 0;

  }
  html{
    overflow-x: hidden;
  }
}
