.footer-color{
  background-color:#1F2229;
}
.footer-text-color{
  color: white;
}
.link-margin{
  margin-right: 150px;
  display: flex;
  align-items: flex-end;
}
.credit-height{
  font-size: 14px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-right: 5%;
}
.image-size{
  width: 25px;
  height: 25px;
}
.link-top{
  margin-top: 1rem;
}
a:hover{
  text-decoration: none;
  color: white;
}

.align-mid{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: white
}

@media (max-width: 767px)
{
    .credit-height{
      margin-left: 4%;
    }
}
