#timothyvinyl{
  width: 20rem;
}
.about-height{
  margin-top: 3rem;
}
.about-height-img{
  margin-top: 2.4rem;
}

@media (max-width: 1200px)
{
    #timothyvinyl
    {
        display: none;
    }
    .about-height{
      margin-top: 0rem;
    }
}
