.footer-color{
  background-color:#1F2229;
}
.footer-text-color{
  color: white;
}
.link-margin{
  margin-right: 150px;
  display: flex;
  align-items: flex-end;
}
.credit-height{
  font-size: 10px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-size{
  width: 25px;
  height: 25px;
}
.link-top{
  margin-top: 1rem;
}
